/* --------- Navigation Styling --------- */
.navigation-box {
    padding-top: 7em;
    padding-left: 4em;
    display: flex;
}

.navigation-list {
    list-style: none;
    color: blue;
    font-size: 9em;
}

.navigation-list a {
    text-decoration: none;
    color: blue;
    transition: color 0.3s, font-size 0.3s; 
}

/* --------- Animatie --------- */
.navigation-list a:hover {
    color: white;
    font-size: 1em;
}

.navigation-list a:not(:hover) {
    font-size: 0.8em; 
}


/* --------- Foto --------- */
.picture-landing {
    height: 0.9em;
}